<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">商品信息</h3>
				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 350px;">
						<input type="text" name="table_search" id="searchNameId"
							class="form-control pull-right" placeholder="商品名"
							style="border-top-left-radius: 25px;
							border-top-right-radius: 25px;
							border-bottom-left-radius: 25px;
							border-bottom-right-radius: 25px;">

						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-search" 
							style="border-top-left-radius: 30px;
							border-top-right-radius: 30px;
							border-bottom-left-radius: 30px;
							border-bottom-right-radius: 30px;">
                                <i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<form>
				  <table class="table table-hover">
					<thead>
						<tr>
						    <th>序号</th>
							<th>商品名称</th>
							<th>品牌名字</th>
							<th>价格</th>
							<th>Inventory</th>
							<th>创建时间</th>
						</tr>
					</thead>
					<tbody id="tbodyId">
					</tbody>
				  </table>
				</form>
			</div>
			<!-- /.box-body -->
			<div id="pageId" class="box-footer clearfix">
            </div>
		</div>
		<!-- /.box -->
	</div>
</div>